* {
    margin: 0;
    font-family: "Merriweather", serif;
}
/* welcome */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
/* registration,login,resetPassword */
#registrationForm,
#loginForm,
.resetPasswordForm {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    background-color: #2b2e2c;
}
label {
    color: antiquewhite;
}
/* app */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: #233628;
    padding: 20px;
}
.foodie {
    font-size: 2cm;
    color: antiquewhite;
}
#profilepic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: antiquewhite solid 5px;
    border-radius: 50%;
}
#heart {
    font-size: 2cm;
}
#heartcontainer {
    display: flex;
}
#heartmodal {
    position: fixed;
    top: 30px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding-bottom: 10px;
    background-color: antiquewhite;
    border: rgba(255, 255, 255, 0.5) solid 10px;
    border-radius: 1em;
    color: black;
}
#wishlistheader {
    align-self: center;
}
#heartX {
    align-self: flex-end;
}
main {
    background-color: #2b2e2c;
}

#appMain {
    border-top: solid rgba(250, 235, 215, 0.5) 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2e2c;
}
footer {
    padding: 10px;
    border-top: solid rgba(250, 235, 215, 0.5) 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid rgba(250, 235, 215, 0.5) 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #233628;
    color: antiquewhite;
}
.appMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: solid rgba(250, 235, 215, 0.5) 10px;
    margin: 50px;
}
#nav1 {
    background-image: url("./foodpictures/nav1.jpg");
    object-fit: cover;
}
#nav2 {
    background-image: url("./foodpictures/nav2.jpg");
    object-fit: cover;
}
#nav3 {
    background-image: url("./foodpictures/nav3.jpg");
    object-fit: cover;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
.appMenuHeader {
    font-size: 1cm;
}
/* changeprofile stuff in app */
#modifyprofilemodal {
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    border: rgba(255, 255, 255, 0.5) solid 10px;
    border-radius: 1em;
}
#x {
    align-self: flex-end;
    position: relative;
    top: -20px;
    padding: 10px;
}
.labelmodify {
    color: black;
}
/* recipes */
#recipesMain {
    /* background-color: #2b2e2c; */
    display: grid;
    grid-template-rows: repeat(380px, 30%);
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 2%;
    margin: 20px;
    padding-bottom: 40px;
}
#recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeImg {
    width: 370px;
    height: 370px;
    object-fit: fill;
}
.recipeName {
    color: antiquewhite;
}
/* recipemodal */
#modalMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recipeModal {
    position: fixed;
    top: 20px;
    width: 800px;
    /* height: 430px; */
    height: auto;
    background-color: antiquewhite;
    border: rgba(255, 255, 255, 0.5) solid 10px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #2b2e2c;
}
#close {
    align-self: flex-end;
}
#header,
#ingredients,
#sendrecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sendwishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}
/* filter */
#checkboxheader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#checkboxescontainer {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    color: antiquewhite;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    font-size: 1cm;
}
.changeIngredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#chooseingredient {
    color: antiquewhite;
}
/* nutrition */
#nutritionmain,
#imageboardmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    margin: 20px;
}
#responsefromapi {
    width: 60vw;
    border: rgba(255, 255, 255, 0.5) solid 2px;
    padding: 10px;
    line-height: 150%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
/* imageboard */
#imageboard {
    display: grid;
    grid-template-rows: repeat(auto, 20vw);
    grid-template-columns: repeat(5, 1fr);
    gap: 2% 2%;
    margin: 20px 20px;
    margin-left: -70px;
}
.imageboardimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#uploader {
    display: flex;
    justify-content: space-between;
}
#file2 {
    margin-left: 10px;
    margin-right: 10px;
}
.wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* generals */
.error {
    color: red;
    font-weight: bold;
    margin: 5px;
}
.success {
    color: green;
}
button {
    background-color: antiquewhite;
    border: rgba(255, 255, 255, 0.5) solid 5px;
    padding: 5px;
    border-radius: 1em;
}
button:hover {
    background-color: #233628;
    color: antiquewhite;
}
/* hiding the actual input */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* styling the "new" input */
.inputfile + label {
    color: black;
    background-color: antiquewhite;
    border: rgba(255, 255, 255, 0.5) solid 5px;
    padding: 5px;
    border-radius: 1em;
    display: inline-block;
    cursor: pointer;
    /* shadows would be nice but only first line works */
    /* box-shadow: -2px -2px rgb(97, 92, 92);
    box-shadow: 2px 2px rgb(53, 51, 51); */
}
label {
    padding: 2px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #233628;
    color: antiquewhite;
}
/* keyboard navigation */
.inputfile:focus + label {
    outline: 1px dotted #000;
    /* trick for obtaining default outline looks on chrome/opera/safari, line 1 for others */
    outline: -webkit-focus-ring-color auto 5px;
}
